<% plays.forEach((play) => { %>
    <%  play.playsInstances.forEach((playInstance) => { %>
        <% if (title === "Home" || (title === 'Wishlist' && user.wishlist.some(entry => entry.playInstanceId._id.toString() === playInstance._id.toString()))) { %>

            <article class="card play-card">
                <div class="play-card-header">
                    <h2><a class="play-card-title" href="/play/<%= `${play._id}/${playInstance._id}` %>" title="<%= play.title %>"><%= play.title %></a></h2>
                    <% if (user) { %>
                        <button class="play-card-bookmark" data-play-instance-id="<%= playInstance._id %>">
                        <% if (title == 'Wishlist') { %>
                            <i class="fas fa-bookmark"></i>                            
                        <% } else if (user.wishlist.some(entry => entry.playInstanceId.toString() == playInstance._id.toString())) { // if the id is somewhere in the wishlist %>
                            <i class="fas fa-bookmark"></i>
                        <% } else { %>
                            <i class="far fa-bookmark"></i>
                        <% } %>
                        </button>
                    <% } %>
                </div>
    
                <div class="play-card-content">
                    <div class="card-row">
                        <% const dateOptions = {month: 'numeric', day:'numeric', year: 'numeric'} %>
                        <div class="play-card-dates">
                            <%= playInstance.dateEnd ? 'From' : '' %>
                            <%= new Date(playInstance.dateStart).toLocaleDateString('fr-FR', dateOptions) %>
                            <% if (playInstance.dateEnd) { %>
                                <br />to <%= new Date(playInstance.dateEnd).toLocaleDateString('fr-FR', dateOptions) %>
                            <% } %></div>
    
                        <div class="play-card-theater"><%= playInstance.theater.name %></div>
                    </div>
                    <div class="card-row">
                        <div class="">
                            <% if (playInstance.summary) { %>
                            <div class="play-card-summary"> 
                                <p><%= playInstance.summary %> <br>
                                </p>
                                <button class="play-card-summary-seemore"><i class="fas fa-angle-down"></i></button>
                            </div> 
                            <% } %>
            
                            <div><%= play.director %></div>  
                            <div><%= play.production ? play.production.length > 100 ? play.production.substr(0, 97) + '...' : play.production : '' %></div>
                        </div>
    
                        <div class="pic-reviews">
                            <img class="play-card-poster" src=<%= playInstance.image ? playInstance.image : '""' %> alt="">
                            <div class="play-card-reviews">
                                <a href="/play/<%= `${play._id}/${playInstance._id}` %>" title="<%= play.title %>" class="reviews-link">
                                    <% const filteredReviews = reviews.filter(review => review.playId.toString() === play._id.toString()) %>
                                    <% const reviewsWithComment = filteredReviews.filter(review => review.comment) %>
                                    <% if (reviewsWithComment.length > 0) { %>
                                        <p>Read <%= reviewsWithComment.length %> reviews</p>
                                    <% } else { %>
                                        <p>There are no reviews yet. <% if (user) { %>Add yours!<% } %></p>
                                    <% } %>
                                    <% if (filteredReviews.length > 0) { %>
                                        <div class="review-stars">
                                            <% const reviewsTotalStars = filteredReviews.map(review => review.stars).reduce((review1, review2) => review1 + review2, 0) %>
                                            <% const average = Math.round((reviewsTotalStars/filteredReviews.length)*2)/2 %>
                                            <% for (let i = 0; i < 5; i++) { %>
                                                <% if (i + 0.5 === average) { %>
                                                    <i class="fas fa-star-half-stroke"></i>
                                                <% } else if (i < average) { %>
                                                    <i class="fas fa-star"></i>
                                                <% } else { %>
                                                    <i class="far fa-star"></i>
                                                <% } %>
                                            <% } %>
                                        </div>
                                    <% } %>
                                </a>
                            </div>
                        </div>    
                    </div>
                </div>  
            </article>
        <% } %>
    <% }) %>
<% }) %>