<!-- Poster, title of the play & user's review note -->
<div class="hero-play" style="background-image:url('<%= play.playInstance.image %>')"> <!-- Poster as a background -->
    <div class="hero-play-dark-layer"></div> <!-- Black layer for readability -->
    
    <div class="hero-play-text">
        <h1><%= play.play.title%></h1>

        <% if (user) { %>
            <% const isPlayReviewed = user.reviews.some(review => review.playId.toString() === play.play._id.toString()) %>
            <% const playReview = user.reviews.filter(review => review.playId.toString() === play.play._id.toString())[0] %>
        <div class="write-review soft-modal">
            <div class="hero-play-stars soft-modal--button" data-play="<%= play.play._id %>">
                <% if (!isPlayReviewed) { %>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                <% } else { %>
                    <% for (let i = 0; i < 5; i++) { %>
                        <% if (i < playReview.stars) { %>
                            <i class="fas fa-star"></i>
                        <% } else { %>
                            <i class="far fa-star"></i>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
            <div class="write-review--form soft-modal--content">
                <form class="flex flex-col" action="/users/review/<%= play.play._id %>?prev=<%= `/play/${play.play._id}/${play.playInstance._id}` %>" method="post">
                    <div class="row">
                        <label for="review-dateseen">When did you see the play?</label>
                        <input type="date" id="review-dateseen" name="reviewdateseen"
                            onfocus="(this.type='date')"
                        onblur="(this.type='text')" value="<%= isPlayReviewed ? playReview.dateSeen : '' %>">
                    </div>
                    <div class="row">
                        <label for="review-theater">Where did you see the play?</label>
                        <input type="text" id="review-theater" name="reviewtheater" placeholder="Choose your theater" value="<%= isPlayReviewed ? playReview.placeSeen : '' %>">
                    </div>
                    <div class="row">
                        <label for="review-content">Leave a review</label>
                        <textarea name="reviewcontent" cols="30" rows="10" placeholder="What did you think about it?"><%= isPlayReviewed ? playReview.content : '' %></textarea>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-primary" value="Publish my review">
                    </div>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>

<main class="main-container">
    <!--Bookmark, review starts and book your place link-->
    <div class="play-interactivity">
        <% if (user) { %>
            <button style="color:unset;" class="play-interactivity-bookmark" onclick="updateWishlist(this)" data-play-instance-id="<%= play.playInstance._id %>">
                <% if (user.wishlist.some(item => item.playInstanceId.toString() === play.playInstance._id.toString())) { %>
                    <i class="fas fa-bookmark"></i>
                <% } else { %>
                    <i class="far fa-bookmark"></i>
                <% } %> 
            </button>
        <% } %>
        <div class="review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="link light">
            <a href="<%= play.playInstance.bookingUrl %>" class="btn btn-secondary">Book your place</a>
        </div>
    </div>

    <!--Summary of the play-->
    <div class="play-content">
        <div class="play-row-highlight">
            <p class="play-theater"><%= play.playInstance.theater.name %></p>
            <p class="play-price"><%= play.playInstance.price%></p>
        </div>

        <p class="play-dates"><%= play.playInstance.date%></p>
        <p class="play-summary"> <%= play.playInstance.summary%> <br>
            
        </p>
    </div>
        
    <!-- Reviews (anchor) -->
    <section class="reviews-container" id="reviews">
        <h2>Reviews</h2>
        
        <div class="review card">
            <div class="review-header">
                <img class="review-profile-pic" src="https://picsum.photos/300/300" alt="Profile picture of Jason1000">
                
                <h3 class="review-username">Jason 1000</h3>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <p class="review-dateseen">Seen on 3 April 2022 at Théâtre de Poche</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste deserunt, reiciendis sequi dolorem officia deleniti ipsam, eum odio non enim cum facere soluta voluptatem natus possimus et molestiae aperiam maiores veniam illo sapiente voluptate. Cupiditate molestias maxime temporibus nulla itaque sed, nihil ut aliquid dolore possimus magnam ea, laborum, distinctio molestiae iusto esse dolor qui dolores! Magnam labore ex nulla expedita nihil ducimus perspiciatis eius consequuntur, adipisci reprehenderit, fugiat error?
            </p>
        </div>
                    
        <div class="review card">
            <h3>Alain Duchamp</h3>
            <div class="review-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h5>Seen on 3 April 2022 at Théâtre de Poche</h5>
            <p><i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                Placeat accusamus quas magni quos!</i>
            </p>
        </div>
    </section>
</main>
