<!-- Poster, title of the play & user's review note -->
<div class="hero-play" style="background-image:url('<%= play.playInstance.image %>')"> <!-- Poster as a background -->
    <div class="hero-play-dark-layer"></div> <!-- Black layer for readability -->
    
    <div class="hero-play-text">
        <h1><%= play.play.title%></h1>

        <% if (user) { %>
            <% const isPlayReviewed = user.reviews.some(review => review.playId.toString() === play.play._id.toString()) %>
            <% const playReview = user.reviews.filter(review => review.playId.toString() === play.play._id.toString())[0] %>
        <div class="write-review soft-modal">
            <div class="hero-play-stars soft-modal--button" data-play="<%= play.play._id %>">
                <% if (!isPlayReviewed) { %>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                <% } else { %>
                    <% for (let i = 0; i < 5; i++) { %>
                        <% if (i < playReview.stars) { %>
                            <i class="fas fa-star"></i>
                        <% } else { %>
                            <i class="far fa-star"></i>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
            <div class="write-review--form soft-modal--content">
                <form class="flex flex-col" action="/users/review/<%= play.play._id %>?prev=<%= `/play/${play.play._id}/${play.playInstance._id}` %>" method="post">
                    <div class="row">
                        <label for="review-dateseen">When did you see the play?</label>
                        <input type="date" id="review-dateseen" name="reviewdateseen" value="<%= isPlayReviewed && playReview.dateSeen ? playReview.dateSeen.toLocaleString('en-CA').split(',')[0] : '' %>">
                    </div>
                    <div class="row">
                        <label for="review-theater">Where did you see the play?</label>
                        <input type="text" id="review-theater" name="reviewtheater" placeholder="Choose your theater" value="<%= isPlayReviewed && playReview.placeSeen ? playReview.placeSeen : '' %>">
                    </div>
                    <div class="row">
                        <label for="review-content">Leave a review</label>
                        <textarea name="reviewcontent" cols="30" rows="10" placeholder="What did you think about it?"><%= isPlayReviewed && playReview.comment ? playReview.comment : '' %></textarea>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-primary" value="Publish my review">
                    </div>
                </form>
            </div>
        </div>
        <% } %>
    </div>
</div>

<main class="main-container">
    <!--Bookmark, review starts and book your place link-->
    <div class="play-interactivity">
        <% if (user) { %>
            <button style="color:unset;" class="play-interactivity-bookmark" onclick="updateWishlist(this)" data-play-instance-id="<%= play.playInstance._id %>">
                <% if (user.wishlist.some(item => item.playInstanceId.toString() === play.playInstance._id.toString())) { %>
                    <i class="fas fa-bookmark"></i>
                <% } else { %>
                    <i class="far fa-bookmark"></i>
                <% } %> 
            </button>
        <% } %>

        <div class="review-stars">
            <% if (reviews.length > 0) { %>
                <% const reviewsTotalStars = reviews.map(review => review.stars).reduce((review1, review2) => review1 + review2, 0) %>
                <% const average = Math.round((reviewsTotalStars/reviews.length)*2)/2 %>
                <% for (let i = 0; i < 5; i++) { %>
                    <% if (i < average) { %>
                        <i class="fas fa-star"></i>
                    <% } else { %>
                        <i class="far fa-star"></i>
                    <% } %>
                <% } %>
            <% } %>
        </div>

        <div class="link light">
            <a href="<%= play.playInstance.bookingUrl %>" class="btn btn-secondary">Book your place</a>
        </div>
    </div>

    <!--Summary of the play-->
    <div class="play-content">
        <div class="play-row-highlight">
            <p class="play-theater"><%= play.playInstance.theater.name %></p>
            <p class="play-price"><%= play.playInstance.price %></p>
        </div>

        <p class="play-dates"><%= play.playInstance.date %></p>
        <p class="play-summary"><%= play.playInstance.summary %><br>
            
        </p>
    </div>
        
    <!-- Reviews (anchor) -->
    <section class="reviews-container" id="reviews">
        <h2>Reviews</h2>
        
        <% if (reviews.filter(review => review.comment).length === 0) { %>
            <p>No reviews yet. <% if (user) { %>Add yours!<% } %></p>
        <% } else { %>
            <% reviews.filter(review => review.comment).forEach(review => { %>
                <div class="review card">
                    <div class="review-header">
                        <% if (review.userId.picture) { %>
                            <img class="review-profile-pic" src="<%= review.userId.picture %>" alt="Profile picture of <%= review.userId.username %>">
                        <% } %>
                        <h3 class="review-username"><%= review.userId.username %></h3>
                        <div class="review-stars">
                            <% for (let i = 0; i < 5; i++) { %>
                                <% if (i < review.stars) { %>
                                    <i class="fas fa-star"></i>
                                <% } else { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                    <% if (review.dateSeen || review.placeSeen) { %>
                        <p class="review-dateseen">
                            Seen
                            <%= review.dateSeen ? ` on ${review.dateSeen.toLocaleString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' })}` : '' %>
                            <%= review.placeSeen ? ` at ${review.placeSeen}` : '' %>
                        </p>
                    <% } %>
                    <p><%= review.comment %></p>
                </div>
            <% }) %>
        <% } %>
    </section>
</main>
