<!-- Poster, title of the play & user's review note -->
<div class="hero-play"> <!-- Poster as a background -->
    <div class="hero-play-dark-layer"></div> <!-- Black layer for readability -->
    
    <div class="hero-play-text">
        <h1><%= Play.title%></h1>

        <div class="hero-play-stars">
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
            <i class="far fa-star"></i>
        </div>
    </div>
</div>

<main class="main-container">
    <!--Bookmark, review starts and book your place link-->
    <div class="play-interactivity">
        <div class="play-interactivity-bookmark">
            <i class="far fa-bookmark"></i>
        </div>
        <div class="review-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="link light">
            <a href="<%= playsInstances.bookingUrl%>" class="btn btn-secondary"">Book your place</a>
        </div>
    </div>

    <!--Summary of the play-->
    <div class="play-content">
        <div class="play-row-highlight">
            <p class="play-theater"><%= playInstance.theater.name %></p>
            <p class="play-price"><%= playInstance.price%></p>
        </div>

        <p class="play-dates"><%= playInstance.date%></p>
        <p class="play-summary"> <%= playInstance.summary%> <br>
            
        </p>
    </div>
        
    <!-- Reviews (anchor) -->
    <section class="reviews-container" id="reviews">
        <h2>Reviews</h2>
        
        <div class="review card">
            <div class="review-header">
                <img class="review-profile-pic" src="https://picsum.photos/300/300" alt="Profile picture of Jason1000">
                
                <h3 class="review-username">Jason 1000</h3>
                <div class="review-stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
            <p class="review-dateseen">Seen on 3 April 2022 at Théâtre de Poche</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste deserunt, reiciendis sequi dolorem officia deleniti ipsam, eum odio non enim cum facere soluta voluptatem natus possimus et molestiae aperiam maiores veniam illo sapiente voluptate. Cupiditate molestias maxime temporibus nulla itaque sed, nihil ut aliquid dolore possimus magnam ea, laborum, distinctio molestiae iusto esse dolor qui dolores! Magnam labore ex nulla expedita nihil ducimus perspiciatis eius consequuntur, adipisci reprehenderit, fugiat error?
            </p>
        </div>
                    
        <div class="review card">
            <h3>Alain Duchamp</h3>
            <div class="review-stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h5>Seen on 3 April 2022 at Théâtre de Poche</h5>
            <p><i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                Placeat accusamus quas magni quos!Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                exercitationem dolores deserunt nesciunt quod architecto voluptates sapiente eos accusamus perspiciatis non, libero reiciendis laudantium sequi. 
                Placeat accusamus quas magni quos!</i>
            </p>
        </div>
    </section>
</main>
