<main class="main-container">
	<!-- Container for big titles on page  -->

	<%- include ('./partials/messages') %>

		<div class="container-middle">
			<h1 class="title-bg-red">My Profile</h1>
			<h2>Settings</h2>
			<div class="prof-pic-container">
				<div>Edit your profile </div>
				<!-- <div class="add-prof-pic">
					<i class="fas fa-user-plus"></i>
				</div> -->
			</div>

			<form class="profile-form" action="/users/profile" method="POST">
				<label for="username"> Username </label> 
					<input type="username" id="username" name="username" placeholder="Username"
						value="<%= typeof username != 'undefined' ? username : '' %>">
				<label for="email"> Email </label>
					<input type="email" id="email" name="email" placeholder="Email"
						value="<%= typeof email != 'undefined' ? email : '' %>">
				<label for="password"> Password </label> 
					<input  type="password" id="password" name="password" placeholder="Password"
						value="<%= typeof password != 'undefined' ? password : '' %>" >
				<label for="password"> Confirm password </label> 
					<input type="password" id="password" name="password2" placeholder="Password"
						value="<%= typeof password2 != 'undefined' ? password2 : '' %>" >
				<input class="btn btn-tertiary" type="submit" value="Confirm modifications">
			</form>




			<!-- Container and cards for the reviews -->

			<h2 class="profile-reviews">My reviews</h2>
			<div>
				<% if (user.reviews.length > 0) { %>
					<% user.reviews.forEach(review => { %>
						<div class="container-middle flex">
							<div class="play-card-theater"><%= review.playId.title %></div>
							<div class="play-card-dates"><%= review.dateSeen ? review.dateSeen.toLocaleString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) : '' %></div>
							<div class="play-card-reviews">
								<a href="/play/<%= `${review.playId._id}/${review.playInstanceId}` %>" class="reviews-link">
									<div class="review-stars">
										<% for (let i = 0; i < 5; i++) { %>
											<% if (i < review.stars) { %>
												<i class="fas fa-star"></i>
											<% } else { %>
												<i class="far fa-star"></i>
											<% } %>
										<% } %>
									</div>
								</a>
							</div>
						</div>
					<% }) %>
				<% } %>
			</div>
		</div>
</main>